@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: #FC7614;
    --dark-blue: #262E38;
    --very-dark-blue: #131518;
    --light-gray: #969FAD;
    --medium-gray: #7C8798;
    --black-gradient: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Overpass', sans-serif;
}

.card-container {
    width: 90%;
    margin: 0 auto;
}

.card {
    background: var(--black-gradient);
}
